@import 'nib'
global-reset()

body
  background: #f1f1f1 repeat
  position: relative
  font: 14px/1.5 Helvetica
  color: #333

label
  font-weight: 800

h1, h2, h3
  margin-bottom: 0
  font-family: Helvetica
  font-weight: 400

.bootstrap-tagsinput
  width: 100%

  .tag
    margin-right: 0px
    color: rgb(250, 250, 250)
    border: 1px solid #7E7373
    background: #9b9b9b
    text-shadow: 0 1px #535353

.btn-getpath
  margin-right: -3px
  margin-top: -10px
  height: 32px

.item 
  .bootstrap-tagsinput
    height: 59px
  .btn-getpath
    height: 59px
    margin-top: -10px